
/* listView */

.dh-listView-header {
    background: #f8f9fa;
    padding: 0.8rem 1.2rem;
    border-bottom: 1px solid #e1e4e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dh-listView-header h3 {
    font-size: 0.95rem;
    font-weight: 600;
    color: #333333;
    margin: 0;
}

.dh-listView-body {
    padding: 1rem;
    flex: 1;
}

.dh-listView-item-list {
    list-style: none;
    padding: 0;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.dh-listView-item-list li {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.7rem 0;
    border-bottom: 1px solid #eff2f5;

    flex: 1;          /* 컬럼 높이 자동 지정 */
    min-height: 0;    /* flex 버그 방지 */
}

.dh-listView-item-icon {
    width: 32px;
    height: 32px;
    background: #f1f3f5;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #004b8d;
}

.dh-listView-item-title {
    display: block;
    font-weight: 600;
    font-size: 1.1rem;
}

.dh-listView-item-subText {
    color: #666666;
    font-size: 0.75rem;
}

.dh-listView-item-content {
    flex: 1;
}


.dh-listView-item-icon.success svg {
    color: #22863a;
}

.dh-listView-item-icon.fail svg {
    color: #d73a49;
}

.dh-listView-item-icon.partial svg {
    color: #ffcc33
}

.dh-listView-empty {
    display: flex;               /* flex로 중앙 정렬 */
    justify-content: center;     /* 수평 중앙 */
    align-items: center;         /* 수직 중앙 */
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    color: #999;
}

/* listView - IP  */
.dh-listView-right.ip  {
    font-size: 0.8rem;
    color: #666666;
    font-family: 'Courier New', Courier, monospace;
    /* Monospace for alignment */
    letter-spacing: 0.5px;
}
